type adspd, domain, domain_deprecated;
type adspd_exec, exec_type, file_type;
init_daemon_domain(adspd)

allow adspd audio_device:chr_file rw_file_perms;
allow adspd input_device:chr_file r_file_perms;
allow adspd sysfs_adsp:file write;
# The below one is WRONG
allow adspd sysfs:file write;

set_prop(adspd, adspd_prop)
