allow mm-qcamerad laser_device:chr_file rw_file_perms;
allow mm-qcamerad mnt_vendor_file:file r_file_perms;
allow mm-qcamerad sysfs_graphics:file r_file_perms;
allow mm-qcamerad sysfs_mods_camd:dir search;
allow mm-qcamerad sysfs_mods_camd:file r_file_perms;
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad system_data_file:dir read;

#allow camera to access Isensormanager
allow mm-qcamerad fwk_sensor_hwservice:hwservice_manager find;
binder_call(mm-qcamerad, system_server)

allow mm-qcamerad hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
binder_call(mm-qcamerad, hal_configstore_default);

allow mm-qcamerad sysfs_graphics:dir search;
allow mm-qcamerad sysfs_graphics:file rw_file_perms;
set_prop(mm-qcamerad, debug_prop);
