type mmi_boot, domain;
type mmi_boot_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mmi_boot)

# shell scripts need to execute /vendor/bin/sh
allow mmi_boot vendor_shell_exec:file rx_file_perms;
allow mmi_boot vendor_toolbox_exec:file rx_file_perms;

allow mmi_boot firmware_file:dir search;
allow mmi_boot radio_data_file:dir w_dir_perms;
allow mmi_boot radio_data_file:file create_file_perms;
allow mmi_boot self:capability chown;
allow mmi_boot sysfs_socinfo:file write;
allow mmi_boot vendor_radio_data_file:dir create_dir_perms;
allow mmi_boot vendor_radio_data_file:file create_file_perms;

set_prop(mmi_boot, hw_rev_prop);
