# Chipset-specific init settings
on boot
    # Change permission for type C params
    chown root mot_tcmd /sys/devices/soc/78b6000.i2c/i2c-2/2-0022/CC_state
    chown root mot_tcmd /sys/devices/soc/78b6000.i2c/i2c-2/2-0022/enable_vconn
    # Change ownership and permission for AMPS factory testing
    chown root mot_tcmd /sys/class/i2c-adapter/i2c-2/2-002d/enable
    chmod 0660 /sys/class/i2c-adapter/i2c-2/2-002d/enable
    chown root mot_tcmd /sys/class/i2c-adapter/i2c-2/2-002d/hsic_vdd
    chmod 0660 /sys/class/i2c-adapter/i2c-2/2-002d/hsic_vdd

    # Change permission for fingerprint sensor
    chown system mot_tcmd /sys/bus/spi/devices/spi8.0/nav
    chown system mot_tcmd /sys/bus/spi/devices/spi8.0/clk_enable
    chown system mot_tcmd /sys/bus/spi/devices/spi8.0/dev_enable
    chown system mot_tcmd /sys/bus/spi/devices/spi8.0/irq

    # STML4 driver parameter permissions
    chown root mot_tcmd /sys/module/motosh/parameters/irq_disable
    chmod 0660 /sys/module/motosh/parameters/irq_disable

    #STML4 device permissions
    chown system compass /dev/motosh
    chmod 0660 /dev/motosh
    chown compass compass /dev/motosh_as
    chmod 0660 /dev/motosh_as
    chown compass compass /dev/motosh_ms
    chmod 0660 /dev/motosh_ms
    chown compass compass /sys/devices/virtual/motosh/motosh_as/timestamp_time_ns
    chmod 0440 /sys/devices/virtual/motosh/motosh_as/timestamp_time_ns
    chown compass compass /sys/devices/virtual/motosh/motosh_as/rv_6axis_update_rate
    chmod 0660 /sys/devices/virtual/motosh/motosh_as/rv_6axis_update_rate
    chown compass compass /sys/devices/virtual/motosh/motosh_as/rv_9axis_update_rate
    chmod 0660 /sys/devices/virtual/motosh/motosh_as/rv_9axis_update_rate
    chown compass compass /sys/devices/virtual/motosh/motosh_as/game_rv_update_rate
    chmod 0660 /sys/devices/virtual/motosh/motosh_as/game_rv_update_rate
    chown compass compass /sys/devices/virtual/motosh/motosh_as/gravity_update_rate
    chmod 0660 /sys/devices/virtual/motosh/motosh_as/gravity_update_rate
    chown compass compass /sys/devices/virtual/motosh/motosh_as/linear_accel_update_rate
    chmod 0660 /sys/devices/virtual/motosh/motosh_as/linear_accel_update_rate

on post-fs-data
    #setup folder for WLAN WAPI
    chmod 0770 /data/wapi_certificate

# Start Sensor daemon
service motosh /system/bin/motosh boot
    seclabel u:r:sensor_hub_exec:s0
    class late_start
    user compass
    group compass misc input
    oneshot

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input

service emmc_ffu /system/bin/emmc_ffu.sh
    user root
    class core
    oneshot
    disabled

on property:sys.boot_completed=1
   start emmc_ffu

on moto-charger
    setprop ro.board.platform msm8953
    trigger firmware_mounts_complete
    start  qcom-post-boot
    start gbmodinstall
    start charge_only_mode
    start batt_health
    start thermal-com


