on boot
    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

on late-fs
    # Boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    write /dev/kmsg "Boot completed"

    # init task load, restrict wakeups to preferred cluster
    write /proc/sys/kernel/sched_init_task_load 15

    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1611 3221 5859 6445 7104"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1611

    # disable thermal & BCL core_control to update interactive gov settings
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 0
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 0
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # scheduler settings
    write /proc/sys/kernel/sched_window_stats_policy 3
    write /proc/sys/kernel/sched_ravg_hist_size 3

    # task packing settings
    write /sys/devices/system/cpu/cpu0/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu1/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu2/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu3/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu4/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu5/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu6/sched_static_cpu_pwr_cost 0
    write /sys/devices/system/cpu/cpu7/sched_static_cpu_pwr_cost 0

    # spill load is set to 100% by default in the kernel
    write /proc/sys/kernel/sched_spill_nr_run 3

    # Apply inter-cluster load balancer restrictions
    write /proc/sys/kernel/sched_restrict_cluster_spill 1

    # set sync wakee policy tunable
    write /proc/sys/kernel/sched_prefer_sync_wakee_to_waker 1

    # governor settings
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1401600:80"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    #write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 40000
    write /proc/sys/kernel/sched_upmigrate_min_nice 19

    # Enable sched guided freq control
    write /sys/devices/system/cpu/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpufreq/interactive/use_migration_notif 1
    write /proc/sys/kernel/sched_freq_inc_notify 200000
    write /proc/sys/kernel/sched_freq_dec_notify 200000

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800

    # Bring up all cores online
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # Enable low power modes
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # re-enable thermal & BCL core_control now
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 192
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 240
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # SMP scheduler
    write /proc/sys/kernel/sched_upmigrate 85
    write /proc/sys/kernel/sched_downmigrate 85

    # Run time fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/iostats 1
