<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.device"
    android:sharedUserId="android.uid.system"
    >

    <original-package android:name="com.cyanogenmod.settings.device" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:allowBackup="true"
        android:label="@string/device_settings_app_name"
        android:persistent="true"
        android:theme="@style/LineageActions">

        <receiver android:name="org.lineageos.settings.device.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="ServiceWrapper" android:permission="ServiceWrapper">
            <intent-filter>
                <action android:name="ServiceWrapper"/>
            </intent-filter>
        </service>

        <!-- Double Twist -->
        <activity
            android:name=".Settings$DoubleTwistSettingsActivity"
            android:label="@string/camera_gesture_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/camera_gesture_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.DoubleTwistFragment" />
        </activity>

        <!-- Chop Chop -->
        <activity
            android:name=".Settings$ChopChopSettingsActivity"
            android:label="@string/chop_chop_gesture_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/chop_chop_gesture_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.ChopChopFragment" />
        </activity>

        <!-- Hand Wave -->
        <activity
            android:name=".Settings$HandWaveSettingsActivity"
            android:label="@string/hand_wave_gesture_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/hand_wave_gesture_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.HandWaveFragment" />
        </activity>

        <!-- Wave Silencer -->
        <activity
            android:name=".Settings$WaveSilencerSettingsActivity"
            android:label="@string/hand_wave_silencer_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/hand_wave_silencer_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.WaveSilencerFragment" />
        </activity>

        <!-- Flip To Mute -->
        <activity
            android:name=".Settings$FlipToMuteSettingsActivity"
            android:label="@string/flip_to_mute_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/flip_to_mute_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.FlipToMuteFragment" />
        </activity>

        <!-- Lift To Silence -->
        <activity
            android:name=".Settings$LiftToSilenceSettingsActivity"
            android:label="@string/lift_to_silence_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/lift_to_silence_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.LiftToSilenceFragment" />
        </activity>

        <!-- Fingerprint Sleep -->
        <activity
            android:name=".Settings$FingerprintSleepSettingsActivity"
            android:label="@string/fingerprint_sleep_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/fingerprint_sleep_summary" />
            <meta-data
                android:name="org.lineageos.settings.device.FRAGMENT_CLASS"
                android:value="org.lineageos.settings.device.fragments.FingerprintSleepFragment" />
        </activity>

    </application>

</manifest>
